[submodule "lib/modules/Avalonia.Markup.Declarative"]
	path = lib/modules/Avalonia.Markup.Declarative
	url = https://github.com/GavinHome/Avalonia.Markup.Declarative
	branch = master
[submodule "Avalonia.Markup.Declarative"]
	path = Avalonia.Markup.Declarative
	url = https://github.com/GavinHome/Avalonia.Markup.Declarative
	branch = master
